:root{
	--background: #dedad7;
	--gray: #dedad7;
	--gray-1: #9e9c9f;
	--black: #120f18;
	--white: #ffffff;
	--cardBackground: #ffffff;
	--toggleSwitchBackground: #dedad7;
	--toggleSwitchSlider: #ffffff;
	--light: #f9f9f9;	
	--inputBoxBackground: #f9f9f9;	
	--purple: #6827cb;
	--text: #120f18;
	--text-dull: #9e9c9f;
}